  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
.border__right__fullHeight{
    border-right: 2px solid rgba(229, 229, 229, 1);
    height: 100vh;
    overflow-y: auto;
}
.fixed__left{
    left: 0;
    position: fixed;
    z-index: 1;
    top: 0;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex__row{
    display: flex;
    flex-direction: row;
}
.align-item__center{
    align-items: center;
}
.flex__column{
    display: flex;
    flex-direction: column;
}
.flex__end{
    align-self: flex-end;
    bottom: 24px;
    flex-direction: column-reverse;
    position: sticky;
}
