.questions{
    height: 100vh;
}
.questions__header{
    padding: 50px 40px 0;
    margin: 0 auto;
    max-width: 1080px;
}
.exit__btn{
    border: none;
    background-color: transparent;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    color: #ccc;
    transition: .2s;
}
.exit__btn:hover{
    opacity: 0.7;
}
.status__bar{
    position: relative;
    height: 16px;
    width: 100%;
    background-color: #ebeff2;
    border-radius: 10px;
}
.status__bar::before{
    content: " ";
    position: absolute;
    background-color: #f44773;
    height: 16px;
    width: 50px;
    border-radius: 10px;
}
.questions__body{
    margin-top: 50px;
}
.question__title{
    margin-left: -22%;
    margin-bottom: 50px;
}
.question__options{
    padding: 30px 0;
}
.option{
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    line-height: 1.4;
    padding: 12px 27px;
    width: 550px;
}

.option__btn{
    border: solid transparent;
    border-radius: 12px;
    border-width: 2px 2px 4px;
    cursor: pointer;
    outline: 0;
    position: relative;
    transition: .2s;
}
.option__btn:hover{
    background-color:rgba(236, 236, 236, 0.719);
    color: #575757;
}
.option__btn::before{
    border: 2px solid rgb(200, 200, 200);
    border-radius: 12px;
    bottom: -2px;
    box-shadow: 0 2px 0 rgb(204, 204, 204);
    content: "";
    left: -2px;
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: -1;
}